@model IEnumerable<Vezeeta.Models.Specialty>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>List Of Specialties</h2>

<p>
    @Html.ActionLink("Add New Specialty", "Create", null, new { @class = "btn btn-success mb-1" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Specilty)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Specilty)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SpecialtyID },new { @class = "btn btn-primary mb-1" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SpecialtyID },new { @class = "btn btn-danger mb-1" })

        </td>
    </tr>
}

</table>
