@model IEnumerable<Vezeeta.Models.Doctor>


@{
    ViewBag.Title = "SearchResult";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>فيزيتا | احجز أفضل دكتور و اطلب أدوية</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Content/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/css/intlTelInput.css">
    <script src="~/Content/js/jquery-3.6.0.js"></script>
    <script src="~/Content/jss/popper.js"></script>
    <script src="~/Content/jss/bootstrap.js"></script>
    <link rel="icon" href="~/Content/images/logohead.jfif" />

    <style>
        .mydiv {
            width: 100%;
            height: 100%;
            background-image: url('/Content/images/cover22.jpg');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-color: gray;
        }

        .header {
            color: #36A0FF;
            font-size: 27px;
            margin: 50px;
        }

        .main {
            padding: 0px;
            margin: 0px;
        }

        .DocDiv {
            background-color: white;
            border: none;
            border-radius: 20px;
            /*border-radius: 20px;*/
            padding-top: 2rem;
            padding-bottom: 1rem;
            margin-bottom: 2rem;
        }

            .DocDiv:hover {
                background-color: rgb(226, 230, 234);
            }

        li {
            list-style: none;
        }

        .appoiunts:hover {
            background-color: rgb(59, 146, 223);
            border-radius: 10px;
        }

        .checked {
            color: orange;
        }

        .avatar {
            vertical-align: middle;
            border-radius: 10%;
            box-shadow: gray 5px 5px 10px;
            width:100%;
            height: 100%;
        }

        .dropdown-item {
            color: aqua;
        }
    </style>
</head>

<body>
    <div class="container-fluid main" style=" background-color: lightgrey;">
        @{
            Html.RenderPartial("_NaveBar");
        }
        <!-- End Header -->
        <!-- =====> page body <==== -->
        <br /><br />
        <div class="container-fluid  d-none d-lg-block col-md-12 mydiv " style=" background-color: lightgrey;">

            <div class="container row pt-5  ">

                <div class="col-7"></div>
                <div class="col-5 text-end ">
                    <h2>احجز مع افضل دكتور (التخصص) في مصر</h2>
                    <h3>احجز اونلاين او كلم<i class="fa fa-phone text-danger"></i>١٦٦٧٦</h3>
                    <h5>١٥٠٠٠ دكتور -٩٠٠٠ استاذ واستشاري - اكثر من ٤٠ تخصص</h5>
                </div>

            </div>
            @{
                Html.RenderPartial("_SearchPView");
            }
        </div>


        <div class="container row col-12">
            <div class="col-1 col-lg-1"></div>

            <!--left div-->
            <div class="col-10 col-lg-7 m-4">
                <div class="container col-12 row ">

                    <div class="col-6 row">

                    </div>
                    <div class="row ">
                        <p class="text-center">(عدد الدكاترة : @ViewBag.drCount)</p>


                    </div>

                </div>
                @foreach (var item in Model)
                {
                    <div class="container row DocDiv mt-2 justify-content-center" style="">

                        <div class="col-md-12 row p-2">
                            <div class="col-9">
                                <div class="row">
                                    <div class="col-4">

                                        
                                        @Html.ActionLink(" للحجز اضغط هنا ", "DoctorProfile", "DoctorProfile", new { doctorID = item.DoctorID }, new { @class = "btn btn-danger ", Style = "width:100%; height:100% ;text-align:center;" })
                                    </div>
                                    <p class=" text-end" style="color: #36A0FF; font-size: 20px;">@Html.ActionLink(item.FName + " " + item.LName, "DoctorProfile", "DoctorProfile", new { doctorID = item.DoctorID }, null)</p>
                                    <p class="text-end " style="color: rgb(80 82 103);">الوصف: @item.Title </p>
                                    <div class="col-12 text-right">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <br />
                                        <span>التقييم العام من ٥٢٩ زاروا الدكتور</span>

                                    </div>
                                    <div class="col-12 text-right">
                                        <p>@item.Specialty.Specilty <i class='m-2 fas fa-stethoscope text-info' style='font-size:15px;text-decoration:underline;text-decoration-color: red'></i></p>

                                    </div>
                                    <div class="col-12 text-right">

                                        <p> @Html.DisplayFor(modelItem => item.City.CityName) : @Html.DisplayFor(modelItem => item.Area.AreaName) : @item.AddressDetails<i class='m-2 fas fa-map-marker-alt text-info' style='font-size:15px;text-decoration:underline;text-decoration-color: red'></i></p>

                                    </div>
                                    <div class="col-12 text-right">
                                        <p>الكشف : @item.ExamineFee جنيه <i class='m-2 fas fa-money-bill-wave text-info' style='font-size:15px;text-decoration:underline;text-decoration-color: red'></i></p>

                                    </div>
                                    <div class="col-12 text-right">
                                        <p>مدة الانتظار : @item.WaitingTime <i class='m-2 fas fa-clock text-info' style='font-size:15px;text-decoration:underline;text-decoration-color: red'></i></p>

                                    </div>
                                    <div class="col-12 text-right">
                                        <p>  @item.Phone : <i class='m-2 fas fa-phone text-info' style='font-size:15px; text-decoration:underline;text-decoration-color: red'></i></p>

                                    </div>
                                </div>
                            </div>
                            <div class="col-3 text-center ">
                                <div class="">
                                    @if (@item.IDImage.Length > 0)
                                    {
                                        <img src=@item.IDImage style="" alt="Avatar" class="avatar" />

                                    }
                                    else
                                    {
                                        <img src="~/Content/Images/icons8-camera-24.png" style="" alt="Avatar" class="avatar" />
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div><!-- end of left div-->
            <!--right div-->
            <div class=" d-none d-lg-block col-lg-3 ">
                <div class="card border-light" style="max-width: 13rem;margin-left: 10%;">
                    <div class="card-header bg-primary text-right text-white " style="border-radius: 5%;"> حدد بحثك <i class="fa fa-flask" aria-hidden="true"></i></div>
                    <div class="card-body text-right ">
                        <button class="btn btn-plight " type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            اللقب
                        </button><i class="fa fa-graduation-cap text-info" style='font-size:20px' aria-hidden="true"></i>

                        <div class="collapse " id="collapseExample">
                            <div class="card card-body ">

                                <div class="form-check text-right">
                                    <label class="form-check-label" for="check1">
                                        استاذ  <input style="margin-left: 3px;" type="checkbox" class="form-check-input" id="check1" name="option1" value="something">
                                    </label>
                                </div><!--end 1 checkbox-->
                                <div class="form-check text-right">
                                    <label class="form-check-label" for="check1">
                                        مدرس  <input style="margin-left: 3px;" type="checkbox" class="form-check-input" id="check1" name="option1" value="something">
                                    </label>
                                </div><!--end 2 checkbox-->
                                <div class="form-check text-right">
                                    <label class="form-check-label" for="check1">
                                        أستشاري  <input style="margin-left: 3px;" type="checkbox" class="form-check-input" id="check1" name="option1" value="something">
                                    </label>
                                </div><!--end 3 checkbox-->
                                <div class="form-check text-right">
                                    <label class="form-check-label" for="check1">
                                        أخصائي  <input style="margin-left: 3px;" type="checkbox" class="form-check-input" id="check1" name="option1" value="something">
                                    </label>
                                </div><!--end 4 checkbox-->
                            </div><!--end of body card-->

                        </div>
                        <hr>


                        <button class="btn btn-plight " type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
                            التخصصات الفرعية
                        </button><i class='fas fa-stethoscope text-info' style='font-size:20px'></i>

                        <div class="collapse " id="collapseExample2">
                            <div class="card card-body ">

                                <div class="form-check text-right">
                                    <label class="form-check-label" for="check1">

                                        الكل  <input style="margin-left: 3px;" type="checkbox" class="form-check-input" id="check1" name="option1" value="something">
                                    </label>
                                </div><!--end 1 checkbox-->
                                <div class="form-check text-right">
                                    <label class="form-check-label" for="check1">
                                        تخسيس و تغذية بالغين  <input style="margin-left: 3px;" type="checkbox" class="form-check-input" id="check1" name="option1" value="something">
                                    </label>
                                </div><!--end 2 checkbox-->
                                <div class="form-check text-right">
                                    <label class="form-check-label" for="check1">
                                        تخسيس و تغذية اطفال  <input style="margin-left: 3px;" type="checkbox" class="form-check-input" id="check1" name="option1" value="something">
                                    </label>
                                </div><!--end 3 checkbox-->
                            </div><!--end of body card-->

                        </div>
                        <hr>
                        <button class="btn btn-plight " type="button" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample">
                            النوع
                        </button><i class='fas fa-transgender text-info' style='font-size:20px' aria-hidden="true"></i>

                        <div class="collapse " id="collapseExample3">
                            <div class="card card-body ">

                                <div class="form-check text-right">
                                    <label class="form-check-label" for="check1">
                                        دكتور  <input style="margin-left: 3px;" type="checkbox" class="form-check-input" id="check1" name="option1" value="something">
                                    </label>
                                </div><!--end 1 checkbox-->
                                <div class="form-check text-right">
                                    <label class="form-check-label" for="check1">
                                        دكتورة  <input style="margin-left: 3px;" type="checkbox" class="form-check-input" id="check1" name="option1" value="something">
                                    </label>
                                </div><!--end 2 checkbox-->
                            </div><!--end of body card-->

                        </div>
                        <hr>

                        <button class="btn btn-plight " type="button" data-toggle="collapse" data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample">
                            المواعيد المتاحة
                        </button><i class="fa fa-calendar-check-o text-info" style='font-size:20px' aria-hidden="true"></i>

                        <div class="collapse " id="collapseExample4">
                            <div class="card card-body ">

                                <div class="form-check text-right">
                                    <label class="form-check-label" for="check1">
                                        أي يوم  <input style="margin-left: 3px;" type="checkbox" class="form-check-input" id="check1" name="option1" value="something">
                                    </label>
                                </div><!--end 1 checkbox-->
                                <div class="form-check text-right">
                                    <label class="form-check-label" for="check1">
                                        اليوم  <input style="margin-left: 3px;" type="checkbox" class="form-check-input" id="check1" name="option1" value="something">
                                    </label>
                                </div><!--end 2 checkbox-->
                                <div class="form-check text-right">
                                    <label class="form-check-label" for="check1">
                                        غدا  <input style="margin-left: 3px;" type="checkbox" class="form-check-input" id="check1" name="option1" value="something">
                                    </label>
                                </div><!--end 3 checkbox-->
                            </div><!--end of body card-->

                        </div>
                        <hr>
                        <button class="btn btn-plight " type="button" data-toggle="collapse" data-target="#collapseExample5" aria-expanded="false" aria-controls="collapseExample">
                            أكواد الخصم
                        </button><i class="fa fa-tags text-info" style='font-size:20px' aria-hidden="true"></i>

                        <div class="collapse " id="collapseExample5">
                            <div class="card card-body ">

                                <div class="form-check text-right">
                                    <label class="form-check-label" for="check1">
                                        يقبل أكواد خصم  <input style="margin-left: 3px;" type="checkbox" class="form-check-input" id="check1" name="option1" value="something">
                                    </label>
                                </div><!--end 1 checkbox-->
                            </div><!--end of body card-->

                        </div>
                        <hr>
                        <button class="btn btn-plight " type="button" data-toggle="collapse" data-target="#collapseExample6" aria-expanded="false" aria-controls="collapseExample">
                            سعر الكشف
                        </button><i class="fa fa-money text-info" style='font-size:20px' aria-hidden="true"></i>

                        <div class="collapse " id="collapseExample6">
                            <div class="card card-body ">

                                <div class="form-check text-right">
                                    <label class="form-check-label" for="check1">
                                        الكل  <input style="margin-left: 3px;" type="radio" class="form-check-input" id="check1" name="option1" value="something">
                                    </label>
                                </div><!--end 1 checkbox-->
                                <div class="form-check text-right">
                                    <label class="form-check-label" for="check1">
                                        اقل من ٥٠  <input style="margin-left: 3px;" type="radio" class="form-check-input" id="check1" name="option1" value="something">
                                    </label>
                                </div><!--end 2 checkbox-->
                                <div class="form-check text-right">
                                    <label class="form-check-label" for="check1">
                                        من ٥٠ حتى ١٠٠  <input style="margin-left: 3px;" type="radio" class="form-check-input" id="check1" name="option1" value="something">
                                    </label>
                                </div><!--end 3 checkbox-->
                                <div class="form-check text-right">
                                    <label class="form-check-label" for="check1">
                                        من ١٠٠ حتى ٢٠٠  <input style="margin-left: 3px;" type="radio" class="form-check-input" id="check1" name="option1" value="something">
                                    </label>
                                </div><!--end 4 checkbox-->
                                <div class="form-check text-right">
                                    <label class="form-check-label" for="check1">
                                        من ٢٠٠ حتى ٣٠٠ <input style="margin-left: 3px;" type="radio" class="form-check-input" id="check1" name="option1" value="something">
                                    </label>
                                </div><!--end 5 checkbox-->
                                <div class="form-check text-right">
                                    <label class="form-check-label" for="check1">
                                        أكثر من ٣٠٠  <input style="margin-left: 3px;" type="radio" class="form-check-input" id="check1" name="option1" value="something">
                                    </label>
                                </div><!--end 6 checkbox-->
                            </div><!--end of body card-->

                        </div>
                        <hr>
                        <button class="btn btn-plight " type="button" data-toggle="collapse" data-target="#collapseExample7" aria-expanded="false" aria-controls="collapseExample">
                            المنشأة
                        </button><i class="fa fa-university text-info" style='font-size:20px' aria-hidden="true"></i>

                        <div class="collapse " id="collapseExample7">
                            <div class="card card-body ">

                                <div class="form-check text-right">
                                    <label class="form-check-label" for="check1">
                                        مستشفى  <input style="margin-left: 3px;" type="checkbox" class="form-check-input" id="check1" name="option1" value="something">
                                    </label>
                                </div><!--end 1 checkbox-->
                                <div class="form-check text-right">
                                    <label class="form-check-label" for="check1">
                                        عيادة  <input style="margin-left: 3px;" type="checkbox" class="form-check-input" id="check1" name="option1" value="something">
                                    </label>
                                </div><!--end 2 checkbox-->
                            </div><!--end of body card-->

                        </div>

                    </div>
                </div>
            </div><!-- end of right div-->
        </div>

        <!--</div>-->
        <br /><br /><br /><br /><br /><br /><br /><br />

        <!-- End of  body -->
        <!-- ======= Footer ======= -->
        @{
            Html.RenderPartial("_FooterPView");
        }
        <!-- End Footer -->
    </div>
    <!-- Main JS File -->
    <script>
        document.getElementById("add").onclick()=> {

        };
    </script>
    <script src="~/Content/js/main.js"></script>


</body>

</html>

