
@model Vezeeta.ViewModel.DoctorDetailViewModel
@{
    ViewBag.Title = "Today's Appointments";
}
<div class="row">
    <div class="col-md-12 text-center  ">
        <div class="x_panel ">
            <div class="x_title">
                <h1 class="text-center w-50   m-auto " style="background-color:#d8d8d8 ;color:#414141">المواعيد </h1>
                <ul class="nav navbar-right panel_toolbox">
                   
                </ul>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class=" text-center">

                    <div class="profile_img">
                        <div id="crop-avatar">
                            <!-- Current avatar -->
                            <img class="img-responsive avatar-view rounded-circle m-3" style="width:100px;height:100px" src="@Model.Doctor.IDImage" alt="Avatar" title="Change the avatar">
                        </div>
                    </div>
                    <h3 class="m-2">@Model.Doctor.FName</h3>

                    <!-- start skills -->
                   

                    <!-- end of skills -->
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12 m-auto">
                   
                    <table id="patients" class="data table table-responsive table-striped no-margin">
                        <thead>
                            <tr>
                                <th>Patient Name</th>
                                <th>Patient Phone</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Response</th>
                            </tr>

                        </thead>
                        <tbody>
                            @foreach (var item in Model.Appointments)
                            {
                                <tr>
                                    <td>@item.Patient.Name</td>
                                    <td>@item.Patient.Phone</td>
                                    <td>@item.Date.ToString("MMM")-@item.Date.ToString("d ")-@item.Date.ToString("yyyy")</td>
                                    <td>@item.Time.ToString("HH:mm")</td>
                                    @if (item.Status == Vezeeta.Models.AppointmentStatus.Pending)
                                    {
                                        <td>

                                            @Html.ActionLink("Approve", "Approve", "Doctors", new { id = item.AppointmentID }, new { @class = "btn btn-success" })
                                            @Html.ActionLink("Deny", "Deny", "Doctors", new { id = item.AppointmentID }, new { @class = "btn btn-danger" })

                                        </td>
                                    }
                                    else if (item.Status == Vezeeta.Models.AppointmentStatus.Approved)
                                    {


                                        <td>
                                            <a href="#" style="padding: 15px 20px 15px 20px ; background-color:green ; color:black " class="badge " readonly>Approved</a>


                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <a href="#" style="padding: 15px 20px 15px 20px ; background-color:red ; color:black " class="badge " readonly>Denied</a>


                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>


                    @Html.ActionLink("Back", "DoctorAppointments",null,new { @class = "btn btn-info" })
                    <!-- end patient today -->
                </div>
            </div>
            @*</div>*@
            @*</div>
                </div>*@
        </div>
    </div>
</div>

@*@section scripts{
    <script>
        $(document).ready(function() {
            $("#patients").DataTable({
                "scrollY": "300px",
                "scrollCollapse": true,
                "paging": false,
                "filter": false,
                "info": false

            });
        });
    </script>*@
}